*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# output file
src/main/scala/ch02/col1.txt
src/main/scala/ch02/col1col2.txt
src/main/scala/ch02/col2.txt
